/* General */
a {
  color: #1d4ed8;
  text-decoration: none;
}
body {
  color: #172c68;
  font-family: "Poppins";
}
img {
  height: 24px;
  width: 24px;
}
ul {
  list-style-type: disc;
  padding-inline-start: 20px;
}

/* Header */
.header {
  display: flow-root;
}
.header-main {
  float: left;
}
.header-data {
  display: inline-flex;
  float: right;
}
.header-data-personal {
  margin: 16px 16px 0px 0px;
}
.header-data-personal p {
  margin: 0px 0px 4px 0px;
  text-align: right;
}
.header-data-separator {
  border: solid #64748b 1px;
  margin: 18px 16px 0px 0px;
  height: 105px;
}
.header-data-links {
  margin-top: 16px;
}
.header-data-links div {
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}
.header-data-links img {
  margin-right: 10px;
}
.header-data-links i {
  margin: 0px 10px 10px 0px;
}

/* Contents */
.break {
  break-before: page;
}
.contents p {
  padding: 0px 20px;
}
.contents p,
.contents li {
  line-height: 22px;
  text-align: justify;
}
.list-item {
  margin: 0px 0px 20px 0px;
}
.list-item span {
  font-size: 16px;
}
.title-flex {
  align-items: center;
  display: flex;
}
.title-flex > * {
  margin-right: 4px;
}
.title-flex > span {
  font-size: xx-large;
  font-weight: 300;
  line-height: 0px;
  margin-right: 0px;
  margin-top: -5px;
}
.title-name {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 4px;
}
.title-section {
  background-color: #dbeafe;
  border-radius: 8px;
  color: #1e40af;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 4px 12px;
}
.title-small {
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 0px;
}
.title-small-sub {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.title-sub {
  color: #1e3b8f;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Footer */
.footer-main {
  float: right;
}
.footer-main p {
  margin-bottom: 0px;
  margin-top: 24px;
}