/* Reset some basic elements. */
body, h1, h2, h3, h4, h5, h6,
p, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Maintain vertical rhythm. */
h1, h2, h3, h4, h5, h6,
p, pre, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

body {
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight #{$base-font-size} / #{$base-line-height} $base-font-family;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  opacity: 0;
  text-size-adjust: 100%;
  transition: all 0.5s ease-in-out;
  word-wrap: break-word;

  & * {
    ::-webkit-scrollbar {
      background-color: transparent;
      border-radius: 20px;
      height: 6px;
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: content-box;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }

  &.dark-mode * {
    ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
  }
}

a {
  color: $color-blue-0;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($color-blue-0, 10%);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

li {
  > ol, > ul {
    margin-bottom: 0;
  }
}

pre, code {
  background-color: var(--color-light);
  font-family: $monospace-font-family;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
}

pre {
  border-radius: 14px;
  overflow-x: auto;
  padding: 12px 14px;
  word-wrap: normal;

  &::-webkit-scrollbar-track-piece:start {
    margin-left: 20px;
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-right: 20px;
  }

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

code {
  border-radius: 6px;
  padding: 3px 5px;
}
