/* Site header */
.navbar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $navbar-width;
  height: 100%;
  background-color: var(--color-navbar);
  a:hover {
    text-decoration: none;
  }
  p {
    cursor: default;
  }
}

.navbar-title {
  display: block;
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  text-align: center;
  padding: 20px;
  &, &:visited {
    color: $text-color;
  }
}

.navbar-buttons {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 40px;
  padding-top: 20px;
  text-align: center;
  .navbar-button {
    display: flex;
    justify-content: space-evenly;
    color: $text-color;
    cursor: pointer;
    line-height: $base-line-height;
    padding: 20px 10px;
    transition: background-color 0.5s;
    > * {
      pointer-events: none;
    }
  }
  :hover {
    background-color: var(--color-button);
  }
}

.navbar-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0px;
}

.navbar-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $text-color;
}

.navbar-footer {
  color: $cl-grey;
  font-size: medium;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  margin-bottom: 12px;
  margin-right: 8px;
}

/* Site footer */
.site-footer {
  color: $cl-grey;
  font-size: 15px;
  text-align: center;
  max-width: $content-width;
  margin-left: $navbar-width;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Page content */
.page-content {
  margin-left: $navbar-width;
}

.page-heading {
  font-size: 20px;
}

.post {
  padding: 16px;
}

.post-list {
  list-style: none;
  .post-link:hover {
    text-decoration: none;
  }
  > li {
    &:not(:first-child) {
      padding-top: $spacing-unit * 2;
    }
  }
}

.post-archives {
  margin-left: 0;
  list-style: none;
  .post-link {
    font-size: 24px;
  }
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $cl-grey;
}

.post-link {
  &, &:visited {
    color: $text-color;
  }
  &:hover {
    color: $brand-color;
  }
}

/* Posts */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}

/* Pagination */
.pagination {
  padding: $spacing-unit / 2 0;
  text-align: center;
  @extend %clearfix;
  a {
    &, &:visited {
      color: $cl-grey;
    }
    &:hover {
      color: $brand-color;
    }
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}
