/* Site header */
.site-header {
  min-height: 56px;
  position: relative;
}

.site-title {
  display: block;
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-align: center;
  &, &:visited {
    color: $text-color;
  }
}

.site-nav {
  font-size: 20px;
  line-height: 40px;
  padding-top: 20px;
  text-align: center;
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    /* Gaps between nav items, but not on the last one */
    &:not(:last-child) {
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px 10px;
    }
  }
}

/* Site footer */
.site-footer {
  padding: $spacing-unit 0;
  font-size: 15px;
  color: $cl-grey;
  text-align: center;
}

/* Page content */
.page-content {
  padding: 0px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  .post-link:hover {
    text-decoration: none;
  }
  > li {
    margin-bottom: 0px;
    &:not(:first-child) {
      padding-top: $spacing-unit * 2;
    }
  }
}

.post-archives {
  margin-left: 0;
  list-style: none;
  .post-link {
    font-size: 24px;
  }
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $cl-grey;
}

.post-link {
  &, &:visited {
    color: $text-color;
  }
  &:hover {
    color: $brand-color;
  }
}

/* Posts */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}

/* Pagination */
.pagination {
  padding: $spacing-unit / 2 0;
  text-align: center;
  @extend %clearfix;
  a {
    &, &:visited {
      color: $cl-grey;
    }
    &:hover {
      color: $brand-color;
    }
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}
