/* Footer. */
.footer-container {
  align-items: center;
  background-color: var(--color-navbar);
  border-top: solid 1px var(--color-footer);
  display: flex;
  justify-content: center;
  left: 0px;
  margin-top: 24px;
  position: absolute;
  transition: background-color var(--time), border-color var(--time);
  width: 100%;

  > p {
    font-weight: 300;
    margin: 0px;
    padding: 16px;
  }
}

.footer-links {
  align-items: center;
  border-left: solid 1px var(--color-footer);
  display: flex;
  height: 32px;
  margin-left: 8px;
  padding-left: 10px;
  transition: border-color var(--time);

  > a {
    background-color: var(--color-text);
    height: 26px;
    margin-left: 10px;
    opacity: 0.6;
    transition: background-color var(--time);
    width: 26px;
  }

  @media (max-width: $width-mobile) {
    display: none;
  }
}

/* Header. */
.header-buttons {
  display: flex;

  .header-button {
    align-items: center;
    color: $text-color;
    cursor: pointer;
    display: flex;
    font-weight: 300;
    height: 100%;
    padding: 0px 20px;
    transition: background-color var(--time);

    > * {
      pointer-events: none;
    }

    .header-icon {
      background-color: var(--color-text);
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }

  @media (max-width: $width-content) {
    display: none;
  }

  @media (hover: hover) {
    :hover {
      background-color: var(--color-button);
    }
  }
}

.header-container {
  background-color: var(--color-header);
  display: flex;
  position: sticky;
  top: 0px;
  transition: background-color var(--time);
  width: 100%;
  z-index: 20;

  a:hover {
    text-decoration: none;
  }

  @media (min-width: $width-content) {
    justify-content: space-evenly;
  }
}

.header-lang {
  border-radius: 4px;
  width: 30px;
}

.header-menu {
  align-items: center;
  color: $text-color;
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  position: absolute;
  transition: background-color var(--time);
  width: 70px;

  > * {
    pointer-events: none;
  }

  & .navbar-icon {
    height: 30px;
    margin-right: 0px;
    width: 30px;
  }

  @media (min-width: $width-content) {
    display: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-white);
    }
  }
}

.header-title {
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  padding: 10px;
  &, &:visited {
    color: $text-color;
  }

  @media (max-width: $width-content) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $width-content) {
    line-height: 40px;
  }
}

/* Navbar. */
.navbar-buttons {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  line-height: 40px;
  text-align: center;

  .navbar-button {
    align-items: center;
    color: $text-color;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-top: 24px;
    transition: background-color var(--time);

    > * {
      pointer-events: none;
    }
  }

  @media (hover: hover) {
    :hover {
      background-color: var(--color-button);
    }
  }
}

.navbar-container {
  background-color: var(--color-navbar);
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: space-between;
  left: calc(0px - var(--width-navbar));
  position: fixed;
  transition: background-color var(--time), left var(--time);
  width: var(--width-navbar);
  z-index: 20;

  a:hover {
    text-decoration: none;
  }

  &.navbar-open {
    left: 0px;
    position: fixed;

    @media (max-width: $width-phone) {
      width: 100%;
    }
  }
}

.navbar-foot {
  background-color: var(--color-header);
  display: grid;
  padding: 10px 0px;
  transition: background-color var(--time);
}

.navbar-footer {
  color: $color-grey;
  font-size: medium;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 16px;
  margin-right: 8px;
  text-align: center;
}

.navbar-icon {
  background-color: $text-color;
  display: block;
  height: 35px;
  margin-right: 20px;
  width: 35px;
}

.navbar-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0px;

  & .navbar-icon {
    height: 40px;
    margin-right: 0px;
    width: 40px;
  }
}

.navbar-lang {
  border-radius: 4px;
  height: 28px;
}

.navbar-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: visibility var(--time), opacity var(--time);
  visibility: hidden;
  width: 100%;
  z-index: 10;

  &.navbar-open {
    opacity: 1;
    visibility: visible;
  }
}

.navbar-title {
  background-color: var(--color-header);
  display: none;
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  padding: 20px;
  text-align: center;

  &, &:visited {
    color: $text-color;
  }
}

/* Page. */
.page-wrapper {
  max-width: var(--width-content);
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  @extend %clearfix;
}

%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* Posts. */
.post-block {
  align-items: center;
  display: flex;
  min-height: 210px;
  place-content: center;
  position: relative;
}

.post-button {
  margin: 8px 0px;

  code {
    padding: 4px 8px;
  }
}

.post-container {
  min-height: calc(100vh - 168px);
}

.post-content {
  h1 {
    font-size: 38px;
    margin-bottom: 20px;

    @media (max-width: $width-phone) {
      font-size: 28px;
      line-height: 1.2;
    }
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}

.post-description {
  color: rgb(255, 255, 255);
  margin-bottom: 0px;

  @media (max-width: $width-phone) {
    font-size: 16px;
  }
}

.post-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $width-mobile) {
    grid-template-columns: 1fr;
  }
}

.post-header {
  margin-bottom: 0px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.post-image {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 100%;
  transition: all var(--time);
  width: 100%;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.post-link {
  &, &:visited {
    color: var(--color-dark);
    font-size: 46px;
    font-weight: bold;
    pointer-events: none;
    -webkit-text-stroke-color: var(--color-light);
    -webkit-text-stroke-width: 1px;
    transition: all var(--time);

    @media (max-width: $width-mobile) {
      font-size: 36px;
    }

    @media (max-width: $width-phone) {
      font-size: 28px;
    }
  }
}

.post-list {
  list-style: none;

  .post-link:hover {
    text-decoration: none;
  }

  li {
    &:not(:first-child) {
      padding-top: 24px;
    }
  }
}

.post-meta {
  color: $color-grey;
  font-size: $small-font-size;
}

.post-style {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @media (max-width: $width-phone) {
    font-size: 28px;
    margin-bottom: 20px;

    .post-container & {
      line-height: 1.2;
    }
  }
}
