/* Syntax highlighting styles. */
.highlight {
  @extend %vertical-rhythm;

  .c1 {
    color: rgb(113, 127, 142);
    font-style: italic;
  } // Comment.Single
  .cp {
    color: rgb(149, 106, 169);
  } // Comment.Preproc
  .cm {
    color: rgb(113, 127, 142);
    font-style: italic;
  } // Comment.Multiline
  .kt {
    color: rgb(255, 166, 87);
    font-weight: bold;
  } // Keyword.Type
  .k {
    color: rgb(255, 74, 69);
    font-weight: bold;
  } // Keyword
  .m {
    color: rgb(80, 173, 255);
    font-weight: bold;
  } // Literal.Number
  .mh {
    color: rgb(80, 173, 255);
    font-weight: bold;
  } // Literal.Number.Hex
  .mi {
    color: rgb(255, 166, 87);
    font-weight: bold;
  } // Literal.Number.Integer
  .mo {
    color: rgb(255, 166, 87);
    font-weight: bold;
  } // Literal.Number.Oct
  .na {
    color: rgb(187, 124, 255);
    font-weight: bold;
  } // Name.Attribute
  .nb {
    color: rgb(80, 173, 255);
    font-weight: bold;
  } // Name.Builtin
  .nc {
    color: rgb(255, 166, 87);
    font-weight: bold;
  } // Name.Class
  .nf {
    color: rgb(187, 124, 255);
    font-weight: bold;
  } // Name.Function
  .nl {
    color: rgb(251, 64, 64);
    font-weight: bold;
  } // Name.Label
  .no {
    color: rgb(80, 173, 255);
  } // Name.Constant
  .nv {
    color: rgb(80, 173, 255);
  } // Name.Variable
  .o {
    color: rgb(251, 64, 64);
    font-weight: bold;
  } // Operator
  .s {
    color: rgb(128, 197, 255);
    font-weight: bold;
  } // Literal.String
  .s1 {
    color: rgb(128, 197, 255);
    font-weight: bold;
  } // Literal.String.Single
  .sc {
    color: rgb(128, 197, 255);
    font-weight: bold;
  } // Literal.String.Char
  .se {
    color: rgb(255, 166, 87);
    font-weight: bold;
  } // Literal.String.Escape
  .ss {
    color: rgb(212, 32, 220);
  } // Literal.String.Symbol

  /* ------------------------------- */

  .cs {
    color: rgb(114, 114, 114);
    font-style: italic;
    font-weight: bold;
  } // Comment.Special
  .c {
    color: rgb(114, 114, 98);
    font-style: italic;
  } // Comment
  .cd {
    color: rgb(114, 114, 98);
    font-style: italic;
  } // Comment.Doc
  .gd {
    color: rgb(0, 0, 0);
  } // Generic.Deleted
  .ge {
    color: rgb(0, 0, 0);
    font-style: italic;
  } // Generic.Emph
  .gr {
    color: rgb(160, 0, 0);
  } // Generic.Error
  .gh {
    color: rgb(114, 114, 114);
  } // Generic.Heading
  .gi {
    color: rgb(0, 0, 0);
  } // Generic.Inserted
  .go {
    color: rgb(114, 114, 114);
  } // Generic.Output
  .gp {
    color: rgb(85, 85, 85);
  } // Generic.Prompt
  .gs {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Generic.Strong
  .gu {
    color: rgb(114, 114, 114);
  } // Generic.Subheading
  .gt {
    color: rgb(160, 0, 0);
  } // Generic.Traceback
  .kc {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Keyword.Constant
  .kd {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Keyword.Declaration
  .kn {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Keyword.Namespace
  .kp {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Keyword.Pseudo
  .kr {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Keyword.Reserved
  .kv {
    color: rgb(64, 80, 128);
    font-weight: bold;
  } // Keyword.Variable
  .mf {
    color: rgb(0, 127, 127);
  } // Literal.Number.Float
  .il {
    color: rgb(0, 127, 127);
  } // Literal.Number.Integer.Long
  .mb {
    color: rgb(0, 127, 127);
  } // Literal.Number.Bin
  .mx {
    color: rgb(0, 127, 127);
  } // Literal.Number.Other
  .sb {
    color: rgb(208, 16, 64);
  } // Literal.String.Backtick
  .sd {
    color: rgb(208, 16, 64);
  } // Literal.String.Doc
  .s2 {
    color: rgb(208, 16, 64);
  } // Literal.String.Double
  .sh {
    color: rgb(208, 16, 64);
  } // Literal.String.Heredoc
  .si {
    color: rgb(208, 16, 64);
  } // Literal.String.Interpol
  .sx {
    color: rgb(208, 16, 64);
  } // Literal.String.Other
  .sr {
    color: rgb(0, 133, 34);
  } // Literal.String.Regex
  .bp {
    color: rgb(114, 114, 114);
  } // Name.Builtin.Pseudo
  .nd {
    color: rgb(60, 93, 93);
    font-weight: bold;
  } // Name.Decorator
  .ni {
    color: rgb(128, 0, 128);
  } // Name.Entity
  .ne {
    color: rgb(144, 0, 0);
    font-weight: bold;
  } // Name.Exception
  .nn {
    color: rgb(85, 85, 85);
  } // Name.Namespace
  .nt {
    color: rgb(0, 0, 128);
  } // Name.Tag
  .vc {
    color: rgb(0, 127, 127);
  } // Name.Variable.Class
  .vg {
    color: rgb(0, 127, 127);
  } // Name.Variable.Global
  .vi {
    color: rgb(0, 127, 127);
  } // Name.Variable.Instance
  .ow {
    color: rgb(0, 0, 0);
    font-weight: bold;
  } // Operator.Word
  .w {
    color: rgb(114, 114, 114);
  } // Text.Whitespace
}
