{% assign articles = site.posts | where: "code", page.code | where: "language", include.language %}
{% for article in articles %}
<li>
  <div class="post-block">
    <a class="post-style" href="{{ article.url | relative_url }}">
      <div class="post-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('{{ article.thumb }}'); background-position: {{ article.position || 'center' }};"></div>
    </a>
    <header class="post-header" style="pointer-events: none;">
      <h1 class="post-title">
        <a class="post-link" href="{{ article.url | relative_url }}">{{ article.title | escape }}</a>
      </h1>
      <div class="post-content">
        <p class="post-description">{{ article.description }}</p>
      </div>
    </header>
  </div>
</li>
{% endfor %}
{% include footer.html %}
{% if include.language == "es" %}
<script>
  let lang = document.body.classList.contains('lang-es');
  if (lang) { document.title = 'Artículos'; }
</script>
{% endif %}