<footer class="footer-container">
  <p>&copy; Renzo Pigliacampo - 2022</p>
  <div class="footer-links">
    <a id="medium" target="_blank" rel="noopener noreferrer"
      href="https://medium.com/@renzopigliacampo"></a>
    <a id="twitter" target="_blank" rel="noopener noreferrer"
      href="https://twitter.com/HipnosisStuff"></a>
    <a id="github" target="_blank" rel="noopener noreferrer"
      href="https://github.com/Hipnosis183"></a>
    <a id="deviantart" target="_blank" rel="noopener noreferrer"
      href="https://deviantart.com/Hipnosis183"></a>
    <a id="linkedin" target="_blank" rel="noopener noreferrer"
      href="https://www.linkedin.com/in/renzo-pigliacampo/"></a>
    <a id="instagram" target="_blank" rel="noopener noreferrer"
      href="https://www.instagram.com/renzolaparca/"></a>
  </div>
</footer>

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/icons.css' }}''>");
  });
</script>