<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
      {% if link.url contains "http" %}
      {% assign url = link.url %}
      {% else %}
      {% assign url = link.url | relative_url %}
      {% endif %}
      <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>

<style>
  .site-nav {
    font-size: 20px;
  }
  .site-title {
    font-size: 30px;
  }
</style>

<style media="screen and (max-width: 700px)">
  .site-nav {
    display: block;
    float: none;
    text-align: center;
  }
  .site-title {
    display: block;
    float: none;
    text-align: center;
  }
  .site-nav .page-link, .site-nav .page-link:not(:last-child) {
    padding: 20px 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .site-nav a, .site-nav a:visited, .site-nav a:hover, .site-nav a:active {
    color: inherit;
  }
</style>