<div id="navbar-overlay" class="navbar-overlay"></div>
<header class="header-container">
  <div id="menu-open" class="header-menu">
    <img id="menu-icon" class="navbar-icon" />
  </div>
  <a class="header-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  <nav class="header-buttons">
    <a class="header-button" href="/blog/">
      <img id="articles" class="header-icon" />
      {% if include.language == "en" %} Articles
      {% else %} Artículos
      {% endif %}
    </a>
    <a class="header-button" href="/portfolio/">
      <img id="portfolio" class="header-icon" />Portfolio
    </a>
    <a class="header-button" href="/extras/">
      <img id="extras" class="header-icon" />Extras
    </a>
    <a class="header-button" href="/about/">
      <img id="about" class="header-icon" />
      {% if include.language == "en" %} About
      {% else %} Acerca de
      {% endif %}
    </a>
    <div id="dark-mode" class="header-button">
      <img id="dark-icon-header" class="header-icon" style="margin-right: 0px; height: 24px; width: 24px;" />
    </div>
    <div id="language" class="header-button">
      <img src="/assets/images/icons/nav-lang.svg" class="header-lang" />
    </div>
  </nav>
</header>
<header id="navbar-open" class="navbar-container">
  <div>
    <a class="navbar-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <nav class="navbar-buttons">
      <a class="navbar-button" href="/blog/">
        <img id="articles" class="navbar-icon" />
        {% if include.language == "en" %} Articles
        {% else %} Artículos
        {% endif %}
      </a>
      <a class="navbar-button" href="/portfolio/">
        <img id="portfolio" class="navbar-icon" />Portfolio
      </a>
      <a class="navbar-button" href="/extras/">
        <img id="extras" class="navbar-icon" />Extras
      </a>
      <a class="navbar-button" href="/about/">
        <img id="about" class="navbar-icon" />
        {% if include.language == "en" %} About
        {% else %} Acerca de
        {% endif %}
      </a>
    </nav>
  </div>
  <div>
    <nav class="navbar-buttons" style="flex-direction: row;">
      <div id="dark-mode" class="navbar-button" style="justify-content: center; padding-left: 0px; width: 100%;">
        <img id="dark-icon" class="navbar-icon" style="margin: 0px;" />
      </div>
      <div id="language" class="navbar-button" style="justify-content: center; padding-left: 0px; width: 100%;">
        <img src="/assets/images/icons/nav-lang.svg" class="navbar-lang" />
      </div>
    </nav>
    <div class="navbar-foot">
      <div class="navbar-icons">
        <a id="medium" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://medium.com/@renzopigliacampo"></a>
        <a id="twitter" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://twitter.com/RenzoLaParca"></a>
        <a id="github" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://github.com/Hipnosis183"></a>
        <a id="deviantart" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://deviantart.com/Hipnosis183"></a>
        <a id="linkedin" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://www.linkedin.com/in/renzo-pigliacampo/"></a>
        <a id="instagram" target="_blank" rel="noopener noreferrer" class="navbar-icon"
          href="https://www.instagram.com/renzolaparca/"></a>
      </div>
      <p class="navbar-footer">© Renzo Pigliacampo</p>
    </div>
  </div>
</header>

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/icons.css' }}''>");
  });
</script>