/* Define color variables. */
$cl-black: #181820;
$cl-dark: #202735;
$cl-grey: #717f8e;
$cl-light: #f1f5f9;
$cl-white: #f6f8fa;
$cl-text: #bdc7cf;

:root {
    --color-black: #{$cl-black};
    --color-dark: #{$cl-dark};
    --color-grey: #{$cl-grey};
    --color-light: #{$cl-light};
    --color-white: #{$cl-white};
    --color-text: #{$cl-dark};
}

.dark-mode {
    --color-black: #{$cl-white};
    --color-dark: #{$cl-light};
    --color-light: #{$cl-dark};
    --color-white: #{$cl-black};
    --color-text: #{$cl-text};
}

/* Define defaults for each variable. */
$base-font-family: 'Ubuntu', sans-serif !default;
$monospace-font-family: 'Roboto Mono', monospace !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 20px !default;
$text-color: var(--color-text) !default;
$background-color: var(--color-white) !default;
$brand-color: #2568ba !default;
$content-width: 1000px !default;

// Import partials.
@import
  "theme/base",
  "theme/layout",
  "theme/syntax-highlighting"
;

// Media queries.
// @include media-query($x){}
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
