---
---

@media screen {
    /* Illustrations list */
    #graph-list {
        list-style: none;
        margin-left: 0px;
        text-align: center;
    }
    .graph-item {
        display: inline-block;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        vertical-align: top;
    }
    .smooth-li {
        opacity: 1;
    }
    .graph-image {
        height: 200px;
        object-fit: contain;
        padding: 10px;
        width: 300px;
    }
    .graph-title {
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }
    .graph-date {
        color: var(--color-grey);
        font-size: 14px;
        margin-bottom: 0px;
    }
    /* Header at the top of the page */
    .post-contents {
        padding: 20px;
        position: relative;
        text-align: center;
    }
    .post-title {
        margin: 30px 0px;
    }
    .post-background {
        background-size: cover;
        bottom: 0px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) -100%, rgba(0, 0, 0, 0) 100%);
    }
}
