---
---

@media screen {
    /* Illustrations list */
    #soft-list {
        list-style: none;
        margin-left: 0px;
        text-align: center;
    }
    .soft-back {
        background-color: var(--color-white);
        height: -webkit-fill-available;
        opacity: 0.9;
        position: absolute;
        width: -webkit-fill-available;
    }
    .soft-cont {
        opacity: 0;
        transition: all 0.5s ease-in;
        visibility: hidden;
    }
    .soft-image {
        height: 200px;
        object-fit: contain;
        padding: 10px 40px;
        width: 400px;
    }
    .soft-info {
        align-self: center;
        position: relative;
        width: -webkit-fill-available;
    }
    .soft-item {
        cursor: pointer;
        display: inline-block;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        vertical-align: top;
    }
    .soft-mask {
        display: flex;
        height: 220px;
        max-width: 480px;
        position: absolute;
        width: 100%;
    }
    .soft-title {
        color: var(--color-black);
        font-size: 22px;
        margin-bottom: 0px;
    }
    .soft-about {
        font-size: 16px;
    }
    .show-info {
        opacity: 1;
        visibility: visible;
    }
    .smooth-li {
        opacity: 1;
    }
    /* Mobile responsiveness */
    .soft-m {
        display: none;
    }
    .soft-title-m {
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }
    .soft-about-m {
        font-size: 16px;
    }
    /* Header at the top of the page */
    .post-background {
        background-size: cover;
        bottom: 0px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) -100%, rgba(0, 0, 0, 0) 100%);
    }
    .post-contents {
        padding: 20px;
        position: relative;
        text-align: center;
    }
    .post-title {
        margin: 30px 0px;
    }
}

@media screen and (max-width: 1035px) {
    .soft-image {
        padding: 10px 0px;
        width: 500px;
    }
    .soft-mask {
        max-width: 500px;
    }
}

@media screen and (max-width: 800px) {
    .soft-cont {
        display: none;
    }
    .soft-image {
        cursor: pointer;
        height: unset;
        margin-bottom: 20px;
        margin-top: 60px;
        max-height: 200px;
    }
    .soft-item {
        cursor: auto;
    }
    .soft-m {
        cursor: auto;
        display: block;
    }
    .soft-mask {
        display: none;
    }
}