---
---

/* Import theme partials. */
@import 'theme/variables';

#keygenContainer {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

#keygenData {
  border-right: solid 2px var(--color-navbar);
  margin-right: 24px;
  padding-right: 24px;
  transition: border var(--time);

  & input {
    width: 200px;

    &:first-child {
      margin-right: 16px;
    }
  }
}

#keygenResults {
  width: 150px;
}

#keygenResults > button {
  width: 100%;
}
