<div class="about-content">
  <p class="about-subtitle">Desarrollador de Software, Diseñador Gráfico</p>
  <a class="about-button" href="/assets/resume.pdf">Currículum (2022/03/16)
    <img class='about-flag' src='/assets/images/flags/es.svg'>
  </a>
</div>
<div class="about-image-mobile"></div>
<div class="about-block">
  <div class="about-content">
    <p class="about-description">
      Desarrollador de software Full Stack profesional con 4 años de experiencia, con un mayor enfoque en el desarrollo
      y diseño de frontend. Mi stack de desarrollo actual es NodeJS + Angular/Vue + Tailwind, aunque también me manejo
      cómodamente con otros frameworks/librerias de JS y CSS.
      <br><br>
      Además, soy diseñador gráfico por hobby, un camino que vengo siguiendo a la par desde que comencé mi carrera
      como desarrollador de software. Si bien comencé haciendo ilustraciones, estas habilidades y experiencias son
      muy influyentes en mis diseños de UI/UX, además de, creo yo, mi buen gusto.
    </p>
    <div class="about-image"></div>
  </div>
  <br>
  <p>
    Cuando no estoy programando, estoy programando, pero no necesariamente el desarrollo web de todos los días.
    Siempre me fascinaron los extensivos y diversos campos en las ciencias de la computación e ingeniería del software,
    por lo que a veces me encuentro haciendo otras cosas como ingeniería a la inversa y programación de bajo nivel, lo
    cual no solamente me da un descanso de centrar contenedores y jugar con los colores, sino que mejora mis capacidades
    que de otra manera no sería posible. Aparte hackear es lo que hace la gente piola.
    <br><br>
    Asegurate de visitar mi <a href="/portfolio/">portfolio</a> para ver todos mis trabajos, y la sección de <a href="/blog/">artículos</a>
    para leer sobre cosas interesantes que suelo escribir de vez en cuando.
  </p>
</div>
<a class="about-button about-button-mobile" href="/assets/resume.pdf">Currículum (2022/03/16)
  <img class='about-flag' src='/assets/images/flags/es.svg'>
</a>
<script>
  let lang = document.body.classList.contains('lang-es');
  if (lang) { document.title = 'Acerca de'; }
</script>