<div class="home-footer">
  <p class="home-name">Renzo Pigliacampo</p>
  <p class="home-description" style="margin-bottom: 28px;">
    Diseñador Gráfico, Desarrollador de Software
  </p>
</div>
<div class="home-section">
  <p class="home-title">Diseño</p>
  <p class="home-description">
    Diseño gráfico, ilustraciones, UI/UX, lo que se te ocurra. Siempre asegurando calidad incluso en los pequeños
    detalles, con simplicidad y diseños modernos.
  </p>
</div>
<div class="home-section">
  <p class="home-title">Programación</p>
  <p class="home-description">
    Desarrollador web Full Stack, entusiasta de la informática y el software en general. Alcanzando los objetivos
    de mis proyectos con código limpio, documentado y eficiente, rendimiento, seguridad y mucho amor.
  </p>
</div>