---
---

@media screen {
    /* Page content */
    .about-block {
        display: flex;
    }
    .about-content {
        align-self: center;
        float: left;
    }
    .about-image {
        align-self: center;
        float: right;
        margin: 0px 20px;
        text-align: center;
    }
    .about-title {
        font-size: 50px;
        margin-bottom: 40px;
    }
    /* Images and their descriptions */
    .center-image {
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .center-text {
        color: var(--color-grey);
        font-style: italic;
        margin-top: 20px;
        width: 300px;
    }
    .flag {
        height: 20px;
        width: 50px;
    }
}

@media screen and (max-width: 800px) {
    /* Page content */
    .about-block {
        display: block;
    }
    .about-image {
        margin: 40px 20px;
    }
    .about-title {
        text-align: center;
    }
    /* Images and their descriptions */
    .center-text {
        width: auto;
    }
    .flag {
        width: 40px;
    }
}