---
---

#menu-icon {
    mask-image: url("/assets/images/icons/icon-menu.svg");
    -webkit-mask-image: url("/assets/images/icons/icon-menu.svg");
}

#articles {
    mask-image: url("/assets/images/icons/nav-articles.svg");
    -webkit-mask-image: url("/assets/images/icons/nav-articles.svg");
}

#portfolio {
    mask-image: url("/assets/images/icons/nav-portfolio.svg");
    -webkit-mask-image: url("/assets/images/icons/nav-portfolio.svg");
}

#extras {
    mask-image: url("/assets/images/icons/nav-extras.svg");
    -webkit-mask-image: url("/assets/images/icons/nav-extras.svg");
}

#about {
    mask-image: url("/assets/images/icons/nav-about.svg");
    -webkit-mask-image: url("/assets/images/icons/nav-about.svg");
}

#dark-icon,
#dark-icon-header {
    mask-image: url("/assets/images/icons/icon-moon.svg");
    -webkit-mask-image: url("/assets/images/icons/icon-moon.svg");
}

#medium {
    mask-image: url("/assets/images/icons/logo-medium.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-medium.svg");
}

#twitter {
    mask-image: url("/assets/images/icons/logo-twitter.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-twitter.svg");
}

#github {
    mask-image: url("/assets/images/icons/logo-github-octocat.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-github-octocat.svg");
}

#deviantart {
    mask-image: url("/assets/images/icons/logo-deviantart.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-deviantart.svg");
}

#linkedin {
    mask-image: url("/assets/images/icons/logo-linkedin.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-linkedin.svg");
}

#instagram {
    mask-image: url("/assets/images/icons/logo-instagram.svg");
    -webkit-mask-image: url("/assets/images/icons/logo-instagram.svg");
}
