---
---

/* Import theme partials. */
@import 'theme/variables';

.logo-lite {
  display: none;
  .dark-mode & {
    display: block;
  }
}
.logo-dark {
  display: none;
  &:not(.dark-mode &) {
    display: block;
  }
}

.page-wrapper {
  max-width: var(--width-large) !important;
}

.port-block {
  cursor: default;
  opacity: 1;
  overflow: hidden;
  transition: visibility var(--time), opacity 0.2s linear;
  visibility: visible;

  &.port-block-open {
    opacity: 0;
    visibility: hidden;
  }
}

.port-body {
  display: flex;
  height: calc(100% - 85px);
}

.port-body-mobile {
  background-color: var(--color-navbar);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.port-button {
  background-color: var(--color-navbar);
  border-radius: 14px;
  color: var(--color-text);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 18px;
  height: fit-content;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--time);
  width: 15%;

  &:visited {
    color: var(--color-text);
  }

  &:not(:first-child) {
    margin-left: 20px;
  }

  &.port-button-selected {
    background-color: var(--color-blue);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-blue);
      text-decoration: none;
    }
  }

  @media (max-width: $width-content) {
    width: auto;

    &:not(:first-child) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}

.port-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  @media (max-width: $width-content) {
    flex-direction: column;
  }
}

.port-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $width-content) {
    height: calc(100vh - 108px);
  }
}

.port-content {
  display: flex;
  padding: 24px;
  width: 80%;
}

.port-contents {
  background-color: var(--color-navbar);
  border-radius: 20px;
  display: flex;
  height: calc(100vh - 240px);
  max-height: 800px;
  opacity: 1;
  overflow-y: hidden;
  transition: background-color var(--time), visibility var(--time), opacity 0.2s linear;
  visibility: visible;
  width: 100%;

  &.port-contents-open {
    opacity: 0;
    visibility: hidden;
  }

  @media (max-width: $width-content) {
    display: none;
  }
}

.port-contents-mobile {
  opacity: 1;
  transition: visibility var(--time), opacity 0.2s linear;
  visibility: visible;

  &.port-contents-open {
    opacity: 0;
    visibility: hidden;
  }

  @media (min-width: $width-content) {
    display: none;
  }
}

.port-description,
.port-description-mobile {
  overflow-y: auto;
  white-space: pre-wrap;

  @media (min-width: $width-content) {
    padding-right: 24px;
  }
}

.port-design {
  overflow-y: scroll;
  padding: 32px 20px;
  width: 100%;

  &::-webkit-scrollbar-track-piece:start {
    margin-top: 20px;
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 20px;
  }
}

.port-design-button {
  align-items: center;
  background-color: var(--color-header);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  padding: 10px 10px;
  transition: background-color var(--time);
  width: fit-content;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-blue);
      text-decoration: none;
    }
  }

  &:not(:first-child) {
    margin-left: 12px;
  }
}

.port-design-buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.port-design-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}

.port-design-content {
  position: absolute;
  text-align: center;
}

.port-design-date {
  color: var(--color-grey);
  font-size: 17px;
}

.port-design-icon {
  background-color: var(--color-text);
  height: 20px;
  mask-image: url('/assets/images/icons/logo-deviantart.svg');
  -webkit-mask-image: url('/assets/images/icons/logo-deviantart.svg');
  width: 20px;
}

.port-design-info {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity var(--time);
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.port-design-mobile {
  margin: 32px 0px;
}

.port-design-overlay {
  background-color: var(--color-navbar);
  height: 100%;
  opacity: 0.95;
  position: absolute;
  width: 100%;
}

.port-design-title {
  color: var(--color-dark);
  font-size: 21px;
  line-height: 1;
}

.port-grid {
  align-items: center;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  img {
    height: 200px;
    object-fit: contain;
    width: 300px;
  }
}

.port-grid-mobile {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-gap: 48px;
  grid-template-columns: 1fr;
  justify-items: center;

  img {
    margin-bottom: 20px;
    max-height: 200px;
    object-fit: contain;
    width: 300px;
  }
}

.port-header {
  align-items: center;
  border-bottom: solid 1px var(--color-light);
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 6px;
  transition: border-color var(--time);
}

.port-header-mobile {
  background-color: var(--color-header);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 24px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  img {
    object-fit: contain;
  }
}

.port-icon {
  background-color: var(--color-text);
  height: 30px;
  margin-left: 10px;
  mask-image: url('/assets/images/icons/logo-github-octocat.svg');
  -webkit-mask-image: url('/assets/images/icons/logo-github-octocat.svg');
  width: 30px;
}

.port-image-full {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.port-images {
  margin-left: 14px;
  min-width: 200px;
  overflow-y: auto;
  padding-right: 10px;

  div {
    border-radius: 4px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  img {
    cursor: pointer;
    transition: all var(--time);

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.port-link {
  margin-left: auto;
  width: 200px;
}

.port-link-mobile {
  margin: 16px 0px;
}

.port-link,
.port-link-mobile {
  align-items: center;
  background-color: var(--color-header);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  transition: background-color var(--time);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-blue);
      text-decoration: none;
    }
  }

  p {
    color: var(--color-text);
    margin: 0px;
    margin-left: 6px;
  }
}

.port-list {
  background-color: var(--color-header);
  padding-right: 48px;
  transition: background-color var(--time);
  width: 20%;

  img {
    cursor: pointer;
    height: 100px;
    object-fit: contain;
    padding: 0px 24px;
    transition: background-color var(--time);
    width: 100%;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-button);
      }
    }
  }
}

.port-name,
.port-name-mobile {
  font-size: 36px;
  margin-bottom: 4px;
  margin-right: 20px;
}

.port-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: calc(100% - 100px);
  justify-content: center;
  left: 0px;
  opacity: 0;
  padding: 20px;
  position: fixed;
  top: 60px;
  transition: visibility var(--time), opacity 0.2s linear;
  visibility: hidden;
  width: calc(100% - 40px);
  z-index: 10;

  &.port-image-open {
    opacity: 1;
    visibility: visible;
  }
}

.port-tags,
.port-tags-mobile {
  display: flex;
  white-space: nowrap;

  code {
    font-family: 'Ubuntu';

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.port-title {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}
