---
---

@media screen {
    .collapsible-hide {
        display: none;
    }
    .content-hide {
        display: block;
    }
    .content-show {
        display: none;
    }
    .post-block {
        margin-bottom: 20px;
    }
    .post-style {
        background-image: var(--url);
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) -100%, rgba(0, 0, 0, 0) 100%);
    }
}

@media screen and (max-width: 720px) {
    .collapsible-hide {
        display: block;
    }
    .content-hide {
        display: none;
    }
}
