---
---

$cl-white: #ffffff;
$cl-dark: #111111;
$cl-dark-grey: #242424;
$cl-grey: #757575;

@media screen {
    .dark-btn {
        color: $cl-white;
        background: $cl-dark;
        margin: 20px 20px;
        border: none;
        font-size: 20px;
        padding: 10px 10px 4px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
        outline: solid 4px;
    }
    .material-icons {
        transform: rotate(30deg);
    }
    .dark {
        color: $cl-white;
        background: $cl-dark;
    }
    .dark pre,
    .dark code {
        color: $cl-white;
        background-color: $cl-dark-grey;
    }
    .dark .center-text {
        color: $cl-grey;
    }
    .dark .site-nav .page-link {
        color: $cl-white;
    }
    .dark .site-title,
    .dark .site-title:visited {
        color: $cl-grey;
    }
    .dark .dark-btn {
        color: $cl-dark;
        background: $cl-white;
    }
    .dark .port-title {
        -webkit-text-stroke-color: $cl-dark;
    }
    .dark .port-button {
        color: $cl-dark;
        background-color: $cl-white;
    }
}

@media screen and (max-width: 700px) {
    .dark .collapsible {
        color: $cl-dark;
        background-color: $cl-white;
    }
    .dark .active,
    .dark .collapsible:hover {
        background-color: $cl-grey;
    }
}
