---
---

$cl-black: #111111;
$cl-dark: #242424;
$cl-grey: #757575;
$cl-light: #f8f8f8;
$cl-white: #ffffff;

:root {
    --color-black: #{$cl-black};
    --color-dark: #{$cl-dark};
    --color-grey: #{$cl-grey};
    --color-light: #{$cl-light};
    --color-white: #{$cl-white};
}

.dark-mode {
    --color-black: #{$cl-white};
    --color-dark: #{$cl-light};
    --color-light: #{$cl-dark};
    --color-white: #{$cl-black};
}