---
---

@media screen {
    .dark-btn {
        color: var(--color-white);
        background: var(--color-dark);
        margin: 20px 20px;
        border: none;
        font-size: 20px;
        padding: 10px 10px 4px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
        outline: solid 4px;
    }
    .dark pre,
    .dark code {
        color: var(--color-white);
        background-color: var(--color-dark-grey);
    }
    .dark .center-text {
        color: var(--color-grey);
    }
    .dark .navbar-buttons .navbar-button {
        color: var(--color-white);
    }
    .dark .navbar-title,
    .dark .navbar-title:visited {
        color: var(--color-grey);
    }
    .dark .dark-btn {
        color: var(--color-dark);
        background: var(--color-white);
    }
    .dark .port-title {
        -webkit-text-stroke-color: var(--color-dark);
    }
    .dark .port-button {
        color: var(--color-dark);
        background-color: var(--color-white);
    }
}
