---
---

@media screen {
    .dark-btn {
        color: var(--color-white);
        background: var(--color-dark);
        margin: 20px 20px;
        border: none;
        font-size: 20px;
        padding: 10px 10px 4px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
        outline: solid 4px;
    }
    .material-icons {
        transform: rotate(30deg);
    }
    .dark pre,
    .dark code {
        color: var(--color-white);
        background-color: var(--color-dark-grey);
    }
    .dark .center-text {
        color: var(--color-grey);
    }
    .dark .site-nav .page-link {
        color: var(--color-white);
    }
    .dark .site-title,
    .dark .site-title:visited {
        color: var(--color-grey);
    }
    .dark .dark-btn {
        color: var(--color-dark);
        background: var(--color-white);
    }
    .dark .port-title {
        -webkit-text-stroke-color: var(--color-dark);
    }
    .dark .port-button {
        color: var(--color-dark);
        background-color: var(--color-white);
    }
}

@media screen and (max-width: 700px) {
    .dark .collapsible {
        color: var(--color-dark);
        background-color: var(--color-white);
    }
    .dark .active,
    .dark .collapsible:hover {
        background-color: var(--color-grey);
    }
}
