---
layout: default
---

<div class="post-block">
  <span class="post-background" style="background-image: url(/assets/images/portfolio/software.png)"></span>
  <div class="post-contents">
    <h1 class="post-title">Software Development</h1>
    <p class="post-desc">Showcase of my works as a professional software developer. These personal projects are a nice
      break of what I usually do everyday, diving into programming and tech fields that otherwise I wouldn't be able to
      experiment, while at the same time the stuff learnt here influences my overall capabilities, interests and knowledge.</p>
  </div>
</div>

<script>
  $(function () {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/portfolio/graphics.css' }}''>");
  });
</script>