---
---

<!-- Footer empty space filler. -->
<div class:list={[{ 'footer-empty': !Astro.props.nofill }]} />
<!-- Footer bar. -->
<footer class="footer-container">
  <p class="footer-text" />
  <!-- Footer links. -->
  <div class="footer-links">
    <a id="footer-medium" target="_blank" rel="noopener noreferrer"
      href="https://medium.com/@renzopigliacampo" />
    <a id="footer-twitter" target="_blank" rel="noopener noreferrer"
      href="https://twitter.com/HipnosisStuff" />
    <a id="footer-github" target="_blank" rel="noopener noreferrer"
      href="https://github.com/Hipnosis183" />
    <a id="footer-deviantart" target="_blank" rel="noopener noreferrer"
      href="https://deviantart.com/Hipnosis183" />
    <a id="footer-linkedin" target="_blank" rel="noopener noreferrer"
      href="https://www.linkedin.com/in/renzo-pigliacampo/" />
    <a id="footer-youtube" target="_blank" rel="noopener noreferrer"
      href="https://youtube.com/@RenzoPigliacampo" />
  </div>
</footer>

<script is:inline data-astro-rerun>
  (() => {
    // Get current year.
    const footerYear = new Date().getFullYear();
    document.querySelectorAll('.footer-text').forEach((v) => {
      v.textContent = `© Renzo Pigliacampo - ${footerYear}`;
    });
  })();
</script>

<style>
/* Footer empty space filler. */
.footer-empty {
  flex: 1;
}

/* Footer bar. */
.footer-container {
  align-items: center;
  background-color: var(--color-footer);
  border-top: solid 1px var(--color-footer-border);
  display: flex;
  justify-content: center;
  margin-bottom: -24px;
  margin-left: -24px;
  margin-top: 24px;
  transition: background-color 0.2s, border-color 0.2s;
  width: calc(100% + 48px);
}
.footer-container > p {
  font-weight: 300;
  margin: 0;
  padding: 16px;
}

/* Footer links. */
.footer-links {
  align-items: center;
  border-left: solid 1px var(--color-footer-border);
  display: flex;
  height: 32px;
  margin-left: 8px;
  padding-left: 10px;
  transition: border-color 0.2s;
}
.footer-links > a {
  background-color: var(--color-text);
  height: 26px;
  margin-left: 10px;
  opacity: 0.6;
  transition: background-color 0.2s;
  width: 26px;
}

/* Footer icons. */
#footer-medium {
  mask-image: url('/images/icons/logo-medium.svg');
  -webkit-mask-image: url('/images/icons/logo-medium.svg');
}
#footer-twitter {
  mask-image: url('/images/icons/logo-twitter.svg');
  -webkit-mask-image: url('/images/icons/logo-twitter.svg');
}
#footer-github {
  mask-image: url('/images/icons/logo-github-octocat.svg');
  -webkit-mask-image: url('/images/icons/logo-github-octocat.svg');
}
#footer-deviantart {
  mask-image: url('/images/icons/logo-deviantart.svg');
  -webkit-mask-image: url('/images/icons/logo-deviantart.svg');
}
#footer-linkedin {
  mask-image: url('/images/icons/logo-linkedin.svg');
  -webkit-mask-image: url('/images/icons/logo-linkedin.svg');
}
#footer-youtube {
  mask-image: url('/images/icons/logo-youtube.svg');
  -webkit-mask-image: url('/images/icons/logo-youtube.svg');
}

/* Responsiveness. */
@media screen and (max-width: 768px) {
  .footer-links {
    display: none;
  }
}
</style>