---
layout: default
---

<div class='about-container'>
  <div class='about-content'>
    <p class='about-title'>Renzo Pigliacampo</p>
    <div class="about-links">
      <a id="medium" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://medium.com/@renzopigliacampo"></a>
      <a id="twitter" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://twitter.com/RenzoLaParca"></a>
      <a id="github" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://github.com/Hipnosis183"></a>
      <a id="deviantart" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://deviantart.com/Hipnosis183"></a>
      <a id="linkedin" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://www.linkedin.com/in/renzo-pigliacampo/"></a>
      <a id="instagram" target="_blank" rel="noopener noreferrer" class="about-icon"
        href="https://www.instagram.com/renzolaparca/"></a>
    </div>
  </div>
  <div class="lang-en">
    {% include en/about.html %}
  </div>
  <div class="lang-es">
    {% include es/about.html %}
  </div>
  <div class="about-links about-links-mobile">
    <a id="medium" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://medium.com/@renzopigliacampo"></a>
    <a id="twitter" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://twitter.com/RenzoLaParca"></a>
    <a id="github" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://github.com/Hipnosis183"></a>
    <a id="deviantart" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://deviantart.com/Hipnosis183"></a>
    <a id="linkedin" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://www.linkedin.com/in/renzo-pigliacampo/"></a>
    <a id="instagram" target="_blank" rel="noopener noreferrer" class="about-icon"
      href="https://www.instagram.com/renzolaparca/"></a>
  </div>
</div>
{% include footer.html %}

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/about.css' }}''>");
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/icons.css' }}''>");
  });
</script>