---
layout: default
---

<article class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="lang-en">
    {% include extra.html language="en" %}
  </div>
  <div class="lang-es">
    {% include extra.html language="es" %}
  </div>
</article>

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/post.css' }}''>");
    $("head script").last()
      .after("<script src='{{ '/assets/scripts/post.js' }}''>");
    if ('{{ page.css }}') {
      $("head link[type='text/css']").last()
        .after("<link rel='stylesheet' type='text/css' href='{{ page.css }}''>");
    }
    if ('{{ page.javascript }}') {
      $("head script").last()
        .after("<script src='{{ page.javascript }}'>");
    }
  });
</script>