---
layout: default
---

<div class="port-container">
  <div id="port-image-full" class="port-overlay">
    <img class="port-image-full" />
  </div>
  <div class="port-title">Portfolio</div>
  <div class="port-buttons">
    <div id="port-button-web" class="port-button">Web Applications</div>
    <div id="port-button-other" class="port-button">Other Software</div>
    <div id="port-button-design" class="port-button">Graphic Design</div>
  </div>
  <div class="port-contents">
    <div class="port-list"></div>
    <div class="port-content">
      <div class="port-block">
        <div class="port-header">
          <div class="port-name"></div>
          <div class="port-tags"></div>
          <a class="port-link" target="_blank" rel="noopener noreferrer">
            <p>Visit on GitHub</p>
            <div class="port-icon"></div>
          </a>
        </div>
        <div class="port-body">
          <div class="port-description"></div>
          <div class="port-images"></div>
        </div>
      </div>
    </div>
    <div class="port-design"></div>
  </div>
  <div class="port-contents-mobile">
    <div class="port-content-mobile"></div>
    <div class="port-design-mobile"></div>
  </div>
</div>

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/portfolio.css' }}''>");
    $("head script").last().after("<script src='{{ '/assets/scripts/portfolio.js' }}''>");
  });
</script>