---
layout: default
---

<article class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="lang-en">
    {% include post.html language="en" %}
  </div>
  <div class="lang-es">
    {% include post.html language="es" %}
  </div>
</article>
{% include footer.html %}

<script>
  $(() => {
    $("head link[type='text/css']").last()
      .after("<link rel='stylesheet' type='text/css' href='{{ '/assets/styles/post.css' }}''>");
    $("head script").last()
      .after("<script src='{{ '/assets/scripts/post.js' }}''>");
  });
</script>