---
// Import Astro components.
import Footer from '@/components/mobile/Footer.astro';

// Import Astro elements.
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import { getCollection } from 'astro:content';

// Define locales.
const locale = getAbsoluteLocaleUrl(Astro.currentLocale);
const $locale = Astro.url.pathname.slice(0, 4) == '/es/' ? Astro.url.pathname.slice(3) : '/es' + Astro.url.pathname;

// Import language files.
const languages = await getCollection('i18n');
const language = languages.filter((v) => v.data.LANG == Astro.currentLocale)[0];
---

<!-- Header bar. -->
<header class="header-container">
  <!-- Header menu button. -->
  <div class="header-menu">
    <span id="header-menu" />
  </div>
  <!-- Header title. -->
  <a class="header-title" href={ locale }>
    <img src="/images/icons/nav-hipnosis.svg" />
    <p>{ language.data.SITE.NAME }</p>
  </a>
</header>
<!-- Header overlay. -->
<div class="header-overlay" />
<!-- Header panel. -->
<div class="header-panel">
  <!-- Header buttons. -->
  <nav class="header-buttons">
    <a href={ locale + 'blog/' }>
      <span id="header-posts" />
      <p>{ language.data.HEADER.POSTS }</p>
    </a>
    <a href={ locale + 'portfolio/' }>
      <span id="header-portfolio" />
      <p>{ language.data.HEADER.PORTFOLIO }</p>
    </a>
    <a href={ locale + 'extras/' }>
      <span id="header-extras" />
      <p>{ language.data.HEADER.EXTRAS }</p>
    </a>
    <a href={ locale + 'about/' }>
      <span id="header-about" />
      <p>{ language.data.HEADER.ABOUT }</p>
    </a>
  </nav>
  <div>
    <!-- Header footer. -->
    <nav class="header-buttons header-footer">
      <a id="header-theme">
        <span />
      </a>
      <a href={ $locale } id="header-language">
        <img src="/images/icons/nav-lang.svg" />
      </a>
    </nav>
    <Footer />
  </div>
</div>

<script is:inline data-astro-rerun>
  (() => {
    // Toggle header panel state.
    document.querySelectorAll('.header-menu, .header-overlay').forEach((v) => {
      v.addEventListener('click', () => {
        document.querySelectorAll('.header-menu, .header-overlay, .header-panel').forEach((v) => {
          if (v.classList.contains('open')) {
            v.classList.remove('open');
          } else { v.classList.add('open'); }
        });
      });
    });
  })();
</script>

<style>
/* Header bar. */
.header-container {
  background-color: var(--color-header);
  border-bottom: solid 1px var(--color-header-border);
  display: flex;
  justify-content: space-evenly;
  transition: background-color 0.2s, border-color 0.2s;
}
.header-container a,
.header-container a:visited {
  color: var(--color-text);
}
.header-container a:hover {
  text-decoration: none;
}
.header-container a > * {
  pointer-events: none;
}

/* Header menu button. */
.header-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: background-color 0.2s;
  width: 60px;
}
.header-menu > span {
  background-color: var(--color-text);
  height: 32px;
  width: 32px;
}

/* Header title. */
.header-title {
  align-items: center;
  display: flex;
}
.header-title > img {
  height: 30px;
}
.header-title > p {
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  padding: 11px 10px 9px 10px;
}

/* Header overlay. */
.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}
.header-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Header panel. */
.header-panel {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: space-between;
  left: -320px;
  position: fixed;
  transition: background-color 0.2s, left 0.2s;
  width: 320px;
  z-index: 20;
}
.header-panel.open {
  left: 0;
}
.header-panel a,
.header-panel a:visited {
  color: var(--color-text);
}
.header-panel a:hover {
  text-decoration: none;
}
.header-panel a > * {
  pointer-events: none;
}

/* Header buttons. */
.header-buttons {
  display: flex;
  flex-direction: column;
}
.header-buttons > a {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 300;
  height: 100%;
  padding: 16px;
  transition: background-color 0.2s;
}
.header-buttons:not(.header-footer) > a {
  border-bottom: 1px solid var(--color-footer-border);
  transition: border-color 0.2s;
}
.header-buttons > a > span {
  background-color: var(--color-text);
  height: 20px;
  width: 20px;
}
.header-buttons > a > span:not(:last-child) {
  margin-right: 16px;
}

/* Header footer. */
.header-footer {
  border-top: 1px solid var(--color-footer-border);
  flex-direction: row;
  transition: border-color 0.2s;
  width: 100%;
}
.header-footer > * {
  background-color: var(--color-footer);
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s !important;
  width: 100%;
}
.header-footer > *:not(:last-child) {
  border-right: 1px solid var(--color-footer-border);
}

/* Header icons. */
#header-menu {
  mask-image: url('/images/icons/nav-menu.svg');
  -webkit-mask-image: url('/images/icons/nav-menu.svg');
}
#header-posts {
  mask-image: url('/images/icons/nav-posts.svg');
  -webkit-mask-image: url('/images/icons/nav-posts.svg');
}
#header-portfolio {
  mask-image: url('/images/icons/nav-portfolio.svg');
  -webkit-mask-image: url('/images/icons/nav-portfolio.svg');
}
#header-extras {
  mask-image: url('/images/icons/nav-extras.svg');
  -webkit-mask-image: url('/images/icons/nav-extras.svg');
}
#header-about {
  mask-image: url('/images/icons/nav-about.svg');
  -webkit-mask-image: url('/images/icons/nav-about.svg');
}
#header-theme > span {
  height: 24px;
  mask-image: url('/images/icons/icon-moon.svg');
  -webkit-mask-image: url('/images/icons/icon-moon.svg');
  width: 24px;
}
body.dark #header-theme > span {
  mask-image: url('/images/icons/icon-sunny.svg');
  -webkit-mask-image: url('/images/icons/icon-sunny.svg');
}
#header-language {
  height: 56px;
}
#header-language > img {
  background-color: transparent;
  border-radius: 2px;
  width: 30px;
}

/* Responsiveness. */
@media screen and (min-width: 1024px) {
  .header-container,
  .header-panel {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-overlay {
    display: none;
  }
  .header-panel {
    left: -100%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header-menu.open {
    background-color: var(--color-header-button);
  }
  .header-menu:hover {
    background-color: var(--color-header-button);
  }
  .header-buttons > *:hover {
    background-color: var(--color-header-button);
  }
}
</style>